html, body {
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.rounded {
  border-radius: 50%;
  text-align: center;
}

.flip-box {
  background-color: transparent;
  width: 450px;
  height: 450px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

header {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: black;
}

h1 {
  margin: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

h2{
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

h3{
  margin-left: 25px;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-variant-caps: normal;
  font-size: 30px;
  color: black;
  text-align: left;
}

h4 {
  color: white;
  font-size: 28px;
  text-align: center;
}

h5{
  color: black;
  font-size: 26px;
  text-align: left;
  margin-left: 25px;
  margin-right: 10px;
}

p{
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.nav-content {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

img.bottom {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  }

.img-links {
  margin-left: 50px;
  max-width: 100%;
}

.img-links a:link, a:visited{
  text-align: left;
  font-size: 15px;
  text-decoration: none;
}

.img-links a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

body{
  font-family: sans-serif;
  font-size: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

.menu-a {
  width: 100%;
  height: auto;
}

div.a {
  float: left;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 15%;
  text-align: center;
}

.content a:link, a:visited {
  float: left;
  margin-left: 10px;
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.content a:hover {
  opacity: 75%;
}

ul{
  list-style-type: none;
}

div.photo-gallery {
  position: relative;
  margin: 2%;
  border: none;
  float: left;
  width: 15%;
}

div.photo-gallery:hover {
opacity: 75%;
}

div.photo-gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 10px 20px;
  text-align: center;
}

.index-container {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: black;
}

ul {
  list-style-type: none;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul a:link, a:visited {
  padding: 5px;
  float: left;
  margin: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
}

section{
  margin-left: 50px;
}

div.expandable-img {
  position: relative;
  margin-left: 25px;
  margin-right: 10px;
  border: none;
  float: left;
  width: 20%;
}

div.expandable-img img{
  width: 100%;
  height: auto;
}

div.expandable-img a:hover{
  opacity: 75%;
}

.container1 {
  float: left;
  margin: 50px;
}

.container2 {
  float: left;
  margin-left: 50px;
}

.container3 {
  position: relative;
}

.container3 a {
  float: left;
  margin: 10%;
  padding: 10%;
  text-decoration: none;
}

.container {
  float: left;
  margin: 20%;
}

div.img-link a:hover {
  float: left;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration: none;
}

.blur a:hover {filter: blur(4px);
}

.index-container {
  position: relative;
  width: 90%;
  height: auto;
}

.index-container a:hover {
  opacity: 50%;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
